<style>
	.content{
		background-color: #F0F0F0;
		width: 440px;
		height: 32px;
		padding-left: 10px;
		/*margin-bottom: 10px;*/
		display: flex;
		display: -webkit-flex;
		align-items:center;
		-webkit-align-items:center;
	}

	.item-label{
		text-align: left;
		width: 300px;
		display: inline-block;
	}

	a{
		margin-left: 20px;
		margin-right: 10px;
	}

	item-renderer input{
		width: 260px;
	}
</style>

<div class="content" *ng-if="!editable" >
		<span class="item-label" >{{ item.title }}</span>
		<a href="#" (click)="edit()">Edit</a>
		<a href="#" (click)="removeItem(item)">x</a>
</div>

<div class="content" *ng-if="editable" >
	<form (^submit)="save($event)" [ng-form-model]="todoForm">
		<div [hidden]="!hasError">Required</div>
		<input ng-control="title" #tInput type="text" 
			[value]="item.title"
			(keyup)="onKey($event)"
			/>
			<!--(focus)="onItemFocus()"-->
			<!--(change)="autosave($event)" -->
		<button type="submit">Save</button>
	<!--<a href="#" type="submit"  >Save</a>-->
		<a href="#" (click)="cancel()" >Cancel</a>
		
		
		
	</form>
</div>
